body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #79538a;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #e2b9ff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    
    .unifrakturmaguntia-regular {
        font-family: "UnifrakturMaguntia", cursive;
        font-weight: 400;
        font-style: normal;
      }
}

main {
    padding: 20px;
    display: flex; /* Use flexbox to arrange sections and the iframe */
    flex-direction: column; /* Stack the sections and iframe vertically */
    align-items: center; /* Center items horizontally */
}

section {
    background-color: #cfa4ff;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%; /* Make sections take full width of the main container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

h1 {
    color: #251a96;
}

h2 {
    color: #6152ff;
}


h4 {
    color: #251a96;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #efb9ff;
    border-radius: 10px;
    margin-top: 2px;
}

main > div {
    margin-top: 20px; 
    border-radius: 10px;
    overflow: hidden; 
}

iframe {
    border: none; 
    display: block; 
}