body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #fff8f6; 
    color: #333;
}

header {
    background-color: #ffdab9; 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: #ffe4c4; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #e67e22; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffa872; 
    border-radius: 10px;
    margin-top: 20px;
}