body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #fff8f6;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #ffdab9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

section {
    background-color: #ffe4c4;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #af570a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffa872;
    border-radius: 10px;
    margin-top: 2px;
}